.menu-box0 {
    display: inline-block;
    width: 30%; 
    height: 10rem;/*親要素が100%って指定だとなぜか下のブロック要素のheight100%が異様に小さくなる*/
    padding: 1rem;
    margin: 0.5rem; 
    border:0.1rem solid lightgray;
/*    background-color: white;*/
}

.menu-box0:hover {
    background-color:rgb(241, 241, 241);
}

.menu-box0 p{
    color: black;
}

.menu-box0 h2{
   font-size: 2rem;
}


div.relative-txt{
    position: relative;
    top: -10rem;
}

div.menu-box0 form{
    width: 100%; 
    height: 100%;/*親の高さがしっかり決まってないとここ異様に小さい*/
    display: block; 
    position: relative;
    opacity: 1;/*透明度*/
    
}

div.menu-box0 input.submit-book{
    width: 100%; 
    height: 100%;/*親の高さがしっかり決まってないとここ異様に小さい*/
    position: relative;
    display: block; 
    opacity: 0;/*透明度*/
    background-color: #f9c60e00;/*background-colorをしっかりと指定しないとinputタグが小さくなる*/
    z-index: 2;/*透明なボタンが画像より手前に来るようにz-indexを指定*/
}


@media screen and (max-width:350px) {
    .menu-box0 {
	display: block;
	width: 100%; 
	height: 10rem;
	padding: 1rem;
	margin-top: 0.5rem; 
	border:0.1rem solid lightgray;
/*	background-color: white;*/
    }
}

@media screen and (max-width:450px) {

    .menu-box0 {
	display: block;
	width: 100%; 
	height: 10rem;
	padding: 1rem;
	margin: 0.5rem; 
	border:0.1rem solid lightgray;
/*	background-color: white;*/
    }

}